@model List<ProdutorModel>
@{ 
    Layout = "";
}
<head>
    <link href="~/Content/Filter.css" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>


<body>
    <div class="divLogo">
        <img src="~/Content/logo2branco.svg" alt="logo textw" width="206" height="90">
    </div>
    <div class="botao">
        <button class="botaovoltar" id="BOTAO" type="button">
            Voltar
        </button>
    </div>


    <div class="duaslinhas">
        <div class="primeiralinha">

            @foreach (ProdutorModel produtor in Model)
            {
                <div class="card">
                    <div class="ft">
                        <div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
                            <img src="Imagens/user.png" alt="logo texto" width="125" height="135" class="user">
                            <button class="botaodetalhes" id="BOTAO" type="button">
                                Ver detalhes
                            </button>
                        </div>
                        <div class="produtores">
                            <p> @produtor.ProdNom </p>
                            <p> @produtor.ProdEnd, @produtor.ProdNum </p>
                            <p> @produtor.ProdBairro </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>

