* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    margin-top: -70px;
    margin-bottom: 10px;
}

.cima {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ecc71;
}

.logo {
    width: 400px;
    margin-top: 70px;
}

#voltar {
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
}

    #voltar:hover {
        text-decoration: none;
        font-size: 18px;
        display: inline-flex;
        font-family: 'Segoe UI';
        color: #353b48;
    }

.div1 {
    width: 90%;
    height: 39px;
    background-color: #2ecc71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-select {
    margin-bottom: 5px;
    width: 90%;
    height: 39px;
    position: relative;
    font-family: 'Segoe UI';
}

    .custom-select select {
        display: none;
    }

.select-selected {
    background-color: white;
}

    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #2ecc71 transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #2ecc71 transparent;
        top: 7px;
    }


.select-items div, .select-selected {
    color: #2ecc71;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.options-wrapper {
    background-color: #2ecc71;
    width: 37%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    border: solid 3px white;
}

.buscar {
    width: 80px;
    height: 39px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.btnBuscar {
    text-decoration: none;
    font-size: 18px;
    color: #2ecc71;
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2px;
    padding: 0;
    border: none;
    background: none;
}

    .btnBuscar:hover {
        text-decoration: none;
        font-size: 18px;
        color: #2ecc71;
        display: inline-flex;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 2px;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
    }

.section-1 {
    width: 100%;
    height: 88vh;
    background-color: #2ecc71;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    margin: 3px;
    background-color: #fff;
}

.container:hover input ~ .checkmark {
    background-color: #eee;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #2ecc71;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
